.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.wrapper__img {
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 9999;
}

.principal {
    border-radius: 15px;
    width: 445px;
    height: 445px;
    cursor: zoom-in;
}

.wrapper__thump {
    display: flex;
    gap: 32px;
    align-items: center;
}

.secondary {
    border-radius: 10px;
    width: 88px;
    height: 88px;
    object-fit: contain;
    cursor: pointer;
    border: 2px solid transparent;
}

.secondary:hover {
    opacity: .8;

}

.selected {
    border: 2px solid var(--primary-orange);
    opacity: .8;
}

.hidde {
    display: none;
}

@media (min-width: 1024px) {

    .hidde {
        display: flex;
    }

}