.button {
    padding: 22px;
    border-radius: 10px;
    background: var(--primary-orange);
    color: var(--neutral-white);
    font-size: 16px;
    font-weight: var(--weight-700);
    line-height: normal;
    outline: none;
    border: none;
    width: 100%;
    max-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px) {

    .button {
        max-width: 272px;
    }

}