.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all ease-in-out 3;
    display: none;
}

.show {
    display: flex;
}

.content {
    background: #FFF;
    width: 250px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 54px;
    padding: 24px;
}

.close {
    cursor: pointer;
}

.categories {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category {
    color: #1D2026;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    cursor: pointer;
}