.slider {
    position: relative;
    z-index: 1;
}

.arrow__container {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--neutral-white);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 130px;
    cursor: pointer;
}

.arrow__container img {
    width: 10px;
    object-fit: cover;
}

.arrow__container:first-of-type {
    left: 16px;
}

.arrow__container:last-of-type {
    right: 16px;
}

.product {
    width: 375px;
    height: 300px;
    object-fit: cover;
}


@media (min-width: 1024px) {

    .container {
        left: 826px;
        top: 74px;
    }

    .product {
        border-radius: 15px;
        width: 445px;
        height: 445px;
    }

    .arrow__container:first-of-type {
        left: -28px;
    }

    .arrow__container:last-of-type {
        right: -28px;
    }

    .arrow__container {
        top: 200px;
    }

    .hidde {
        display: none;
    }
    
}